h1 {
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 2em;
  color: black;
  margin-top: -7.5em;
}

.spanLoading {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .2s;
}

.let2 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .3s;
}

.let3 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .4s;
}

.let4 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .5s;

}

.let5 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .6s;
}

.let6 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .7s;
}

.let7 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: .8s;
}

#show {
  display: flex;
}

#hide {
  display: none;
}

.loading {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157 180 215);
  text-align: center;
  z-index: 3;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }

  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    top: 6.94em
  }
}