#menu {
    width: 35px;    
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;    
}

.shoppingCar{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 50px;            
}

#menu>div {
    height: 2px;
    width: 100%;
    background-color: black;
}

.menuStyle{
    margin-left: 5%;    
    width: 12%;
    display: flex;    
    justify-content: center;
}

.p-tb-5 {
    padding: 10px 0;
}

.p-tb-15 {
    padding: 15px 0;
}

.m-tb-5 {
    margin: 5px 0;
}

.m-tb-15 {
    margin: 15px 0;
}

.btn-l {
    background-color: #4585fc;
}

.btn-c {
    background-color: #005aff;
}

.Icon {
    margin-right: 5px;
}

/* Animações */

.animarBarra1 {
    animation: barra1 linear .3s;
    animation-fill-mode: forwards;
}

.animarBarra2 {
    animation: barra2 linear .15s;
    animation-fill-mode: forwards;
}

.animarBarra3 {
    animation: barra3 linear .3s;
    animation-fill-mode: forwards;
}

.retornarBarra1 {
    animation: barra1r linear .3s;
    animation-fill-mode: forwards;
}

.retornarBarra2 {
    animation: barra2r linear .15s;
    animation-fill-mode: forwards;
}

.retornarBarra3 {
    animation: barra3r linear .3s;
    animation-fill-mode: forwards;
}

.menuAberto {    
    animation: menuAbrir linear .3s;
    animation-fill-mode: forwards;
}

.menuFechado {
    animation: menuFechar linear .3s;
    animation-fill-mode: forwards;
}

.imagem {
    animation: slide 30s ease-in-out infinite;
}

.banner {
    display: flex;
    overflow: hidden;
    position: relative;    
    z-index: -1;
    width: 100%;
    background: linear-gradient(180deg, rgb(218, 218, 218) 0%, rgb(87, 135, 161) 100%);
}

.logoStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    width: 15%;            
}

.headerStyle {
    background-color: #32a2eb;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 50px;
    border-bottom: 1px solid rgb(185, 185, 185);
    position: fixed;
    width: 100%;    
    z-index: 2;
    top: 0;
}

.formStyle {
    width: 55%;        
}

.buscarStyle {
    width: 100%;
    color: #333;
    border-radius: 3px;
    height: 33px;
    border: 0;
    padding: 0 2.5%;
    font-size: 16px;
}

.notification {
    transform: translateY(-240%) translateX(160%);
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 12px;
}

.nomeStyle {
    width: 45px;    
}

.links {
    display: flex;
    align-items: center;
}

.containerLinks>a {
    color: #333;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.containerLinks>a:hover {
    text-decoration: underline;
}

.containerLinks {
    width: 37.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productsSection {
    margin: 30px 5%;
}

.productContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: roboto, sans-serif;    
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 39px -18px rgb(180, 180, 180);
    -moz-box-shadow: 0px 0px 39px -18px rgb(180, 180, 180);
    box-shadow: 0px 0px 39px -18px rgb(180, 180, 180);
    border-radius: 10px;
    padding: 15px 0;    

    /* aaa */
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: #333;            
    width: 75%;
    margin: 1.5rem 15%;            
}

.productContainer>div:nth-child(2){    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 13.5em;
}

.productContainer>div>h3{
    margin: 0 5%;
    font-size: 1rem;
}

.productContainer>div>p{
    font-size: .95rem;
}

.productContainer>div>p>span{
    color: rgb(89, 192, 11);
}

.productImg {
    position: relative;
    width: 100%;    
}

.productImg>img {
    width: 80%;
}

.footerContainer{
    color: white;
    background-color: black;
    font-family: roboto, sans-serif;
}

.news{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    border-bottom: 1px solid gray;
}

.news>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news>form>input{
    height: 35px;
    border: 0;
    border-radius: 10px;
    width: 71vw;
    padding: 0 2vw;
    margin: 3px 0;
    font-size: 18px;
    text-align: center;
}

.news>form>button{
    height: 35px;
    border: 0;
    border-radius: 10px;
    width: 75vw;
    color: black;        
    font-size: 18px;
    background-color: #32a2eb;
    margin-top: 3px;
}

#login,#cadastro,#carrinho,#compras,#conta,#dados{    
    display: none;
    height: calc(100vh - 51px);
    margin-top: 51px ;
    z-index: -1;
    align-items: center;
    justify-content: center;    
    color: white;
    font-family: roboto, sans-serif;
    width: 90%;
    margin-left: 5%;
}

#cadastro>div:first-child,#cadastro>div:last-child{
    width: 100%;
    height: 10vh;
    background-image: url(components/img/backgroundForm.png);
    background-size: cover;
    background-position: center;    
}

#cadastro>div:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#cadastro>div:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#cadastro>div:nth-child(2){
    background-color: #333;
    text-align: center;
    width: 100%;
}

#cadastro>div:nth-child(2)>form>div:first-child,#cadastro>div:nth-child(2)>form>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#cadastro>div:nth-child(2)>form>div:last-child{
    display: flex;
    justify-content: center;
}

#cadastro>div:nth-child(2)>form>div:last-child>button{
    color: white;
    background-color: #005aff;
    display: block;
    width: 30%;            
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
    border-radius: 5px;   
    border: 0; 
}

#cadastro>div:nth-child(2)>form>div:last-child>button:last-child{
    background-color: #5a719c;
}

#cadastro>div:nth-child(2)>form>div>input, #endereco{
    width: 42%;
    padding: 0 2%;
    display: inline-block;
    height: 35px;
    border-radius: 10px;    
    text-align: left;
    border: 0;
    margin: 3px;
    font-size: 16px;    
}

#btnSO{
    color: white;
    background-color: #005aff;
    display: block;
    margin: 10px 0;
    margin-left: 25%;
    width: 50%;
    padding: 5px 0;
    text-decoration: none;
    border-radius: 5px;    
}

#endereco,#complemento{
    width: 100%;
    text-align: center;
}

#endereco>span{
    margin: 0 5px;
}

#cadastro{
    height: 110vh;
    margin: 0 2.5%;    
    margin-top: 7vh;
    width: 95%;
}

#login,#cadastro{
    flex-direction: column;
}

#login>div:first-child{
    background-image: url(components/img/backgroundForm.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#login>div:nth-child(2){
    width: 100%;
    background-color: #333;
    height: 50%;    
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    flex-direction: column;
    text-align: center;    
}

#login>div:nth-child(2)>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#login>div:nth-child(2)>form>input,#login>div:nth-child(2)>form>button{    
    width: 90%;
    height: 35px;
    border-radius: 10px;    
    text-align: center;
    border: 0;
    margin: 3px 0;
    font-size: 16px;    
}

#login>div:nth-child(2)>div>h2{
    font-size: 22px;
}

#login>div:nth-child(2)>div>a{
    color: white;
    background-color: #005aff;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

#login>div:nth-child(2)>form>a{
    color:white;
}

#login>div:nth-child(2)>form>input{    
    border: 1px inset #ccc;
}

#login>div:nth-child(2)>form>button{
    background-color:#005aff;
    color: white;
}

@keyframes barra1 {
    0% {
        height: 2px;
        transform: rotateZ(0deg);
    }

    100% {
        height: 2px;
        transform: rotateZ(45deg) translateX(6px) translateY(6px);
    }
}

@keyframes barra1r {
    0% {
        height: 2px;
        transform: rotateZ(45deg) translateX(6px) translateY(6px);
    }

    100% {
        height: 2px;
        transform: rotateZ(0deg) translateX(0px) translateY(0px);
    }
}

@keyframes barra2 {
    0% {
        height: 2px;
        width: 100%;
    }

    100% {
        height: 2px;
        width: 0px;
        visibility: hidden;
    }
}

@keyframes barra2r {
    0% {
        height: 2px;
        width: 0px;
    }

    100% {
        height: 2px;
        width: 100%;
    }
}

@keyframes barra3 {
    0% {
        height: 2px;
        transform: rotateZ(0deg);
    }

    100% {
        height: 2px;
        transform: rotateZ(-45deg) translateX(5px) translateY(-5px);
    }
}

@keyframes barra3r {
    0% {
        height: 2px;
        transform: rotateZ(-45deg) translateX(5px) translateY(-5px);
    }

    100% {
        height: 2px;
        transform: rotateZ(0deg);
    }
}

@keyframes menuAbrir {
    0% {
        top: -235px;
    }

    100% {
        top: 51px;
    }
}

@keyframes menuFechar {
    0% {
        top: 51px;
    }

    100% {
        top: -235px;
    }
}

@keyframes slide {

    0%,
    10% {
        transform: translateX(0%);
    }

    20%,
    30% {
        transform: translateX(-100%);
    }

    40%,
    50% {
        transform: translateX(-200%);
    }

    60%,
    70% {
        transform: translateX(-300%);
    }

    80%,
    90% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide2 {

    0%,
    10% {
        transform: translateX(0vw);
    }

    20%,
    30% {
        transform: translateX(-100vw);
    }

    40%,
    50% {
        transform: translateX(-200vw);
    }

    60%,
    70% {
        transform: translateX(-300vw);
    }

    80%,
    90% {
        transform: translateX(-400vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

@media screen and (min-width: 760px) {
    .headerStyle {
        width: 100%;
    }

    .banner{
        margin-top: 50px;
    }
    .productsSection {
        margin: 30px 2.5%;
    }

    .productContainer {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;            
        flex-direction: column;
        width: 23%;                
        margin: 1.5rem 1%;        
    }        

    .imagem {
        animation: slide2 30s ease-in-out infinite;                
    }

    .productImg {
        position: relative;                
        height: 16vw;
    }
    
    .productImg>img {
        width: 90%;                        
        height: 100%;
    }

    .news{
        flex-direction: row;        
        margin: 0 10%;
    }

    .news>div{
        width: 30%;
        text-align: left;
        margin: 0;        
    }

    .news>form{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 70%;        
    }
    
    .news>form>input{    
        width: 37.5%;
        padding: 0 2%;
        margin: 0 .25%;        
        text-align: left;                
    }
    
    .news>form>button{        
        width: 25%;        
        margin: 0;        
    }

    .news>form>button:hover{
        text-decoration: underline;
    }

    .logoStyle{
        width: 225px;
    }

    .formStyle {
        width: 30%;                
        margin-right: 20px;
    }

    .menu2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;        
        background-color: #333;
        position: fixed;                
        z-index: 2;
        width: 100%;
        margin-top: 1px;        
    }
    
    .menu2>h2 {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 350;
    }
    
    .menu2>div>a {
        text-decoration: none;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 3px;
        background-color: rgb(67, 118, 150);
        display: inline-block;
        width: 100px;
        text-align: center;
        margin: 0 2.5px;
    }
    
    .menu2>div>a:hover {
        color: black;
    }
    
    .menu2>div>a:last-child {
        background-color: rgb(57, 183, 187);
    }
    
    #navMenu{
        display: none;
    }

    #login,#cadastro,#carrinho,#compras,#conta,#dados{    
        display: none;
        height: calc(100vh - 31px);
        margin-top: 51px ;
        width: 75%;
        margin-left: 12.5%;
    }

    #login,#cadastro{
        flex-direction: row;
    }    

    #cadastro>div:nth-child(2){
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #cadastro>div:first-child,#cadastro>div:last-child{
        height: 80%;
        width: 30%;        
        background-image: url(components/img/backgroundForm.png);
        background-size: cover;
        background-position: center;    
        border-radius: 0;
    }

    #cadastro>div:first-child{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #cadastro>div:last-child{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #login>div:first-child{
        height: 70vh;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        width: 50%;
    }

    #login>div:nth-child(2){
        width: 70%;
        background-color: #333;
        height: 70vh;        
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;    
        flex-direction: column;
        text-align: center;        
        border-top-left-radius: 0;
        border-bottom-left-radius: 0px;
    }
    
    #login>div:nth-child(2)>form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }
    
    #login>div:nth-child(2)>form>input,#login>div:nth-child(2)>form>button{    
        width: 100%;
        height: 35px;
        border-radius: 10px;    
        text-align: center;
        border: 0;
        margin: 3px 0;
        font-size: 16px;    
    }
}